<div>
  <button id="click">Click me</button>
  {{ test }}
  <a href='/hello'>To Test</a>
</div>

<script src={{ test }}></script>
<script>
  $(document).ready(function() {
    alert("apples");
  });
</script>
